body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-image: url("HindiMedium4.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}


.container {
    max-width: 410px;
    margin-top: 5%;
    margin-left: 8%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .poster img {
    max-width: 100%;
    height:600px;
    width: 440px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  }
  
  .MovieTitle {
    font-size: 100px;
    position: absolute;
    top: 0;
    right: -200px;
    margin-top: 17%;
    margin-right: 30%;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .M {
    font-size: 270px;
    position: absolute;
    top: -92px;
    right: -8px;
    margin-top: 17%;
    margin-right: 33%;
    font-weight: 300; 
    color: #F76628;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }
  

  .EDIUM {
    font-size: 95px;
    position: absolute;
    top: 100px;
    right: -305px;
    margin-top: 17%;
    margin-right: 33%;
    font-weight: bolder;
    color: #F76628;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }
  .Quote {
    font-size: 28px;
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 350px;
    right: -400px;
    left: 0;
    margin-left:55% ;
    margin-top: 24%;
    margin-right: 38%;
    font-weight: bolder;
    color: #F76628;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  
  
  
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}
.PlotSummary{
 margin-left: 5%;
 margin-right: 5%;
}

.quote{
    margin-left: 5%;
    margin-right: 5%;
}

.Details{
    margin-left: 0%;
    margin-right: 5%;
    text-align: left;
}


.keyDetails{
    margin-left: 5%;
    margin-right: 5%;
}

.points{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -0px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.fade-in-visible {
    opacity: 1;
}

